body {
  width: $main-container;
  margin: 0 auto;
    
  .header {
    @include flex-data(center, space-between, row);
    padding: 10px 32px;
    height: 80px;
    background-color: whitesmoke;
    position: static;
    z-index:10;

        .navbar {
          @include flex-data(center, center, row);
          list-style: none;
          gap: 50px;

          .navbarItem {
            font-family: $main-font;
            font-weight: 600;
            cursor: pointer;
            :hover {
              color: #999;
            }
          }
        }

      &>.contact {
        @include flex-data(center, center, row);
        gap: 10px;

      &>.phoneiconwrapper {
          @include flex-data(center, center, row);
          width: 20px;
          height: 20px;
          border-radius: 50%;
          border: 1px solid cyan;
        }
      } 
      
      .sidebar {
        @include flex-data(center, start, column);
        position:sticky;
        left: 20px;
        top: 70%;
        width: 35px;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
        background-color: whitesmoke;
        border: 1px solid black;
        padding: 10px;
        gap: 10px;

        .sidebaritem {
          border-bottom: 1px solid black;
          cursor: pointer;
        
          &:last-child {
            border-bottom: none;
          }
          .socialnet {
            width: 20px;
          }
          
        }
      }
  }

  
  .section {
    @include flex-data(flex-start, center, column);
    background-image: url("../images/girl-resting-after-exercises-gym_152625-820_auto_x2_auto_x2.jpg");
    width: 100%;
    height: 916px;
    color: #fff;
    gap: 10px;
    padding-left: 230px;

    .subtitle {
      font-size: 18px;
      font-weight: 400;
      color: #999;
    }
    .title {
      font-size: 42px;
      font-weight: 400;
      line-height: 1.2;
      margin-bottom: 20px;
    }
    .getstartedbutton {
      width: 150px;
      height: 45px;
      border-radius: 8px;
      background-color: $main-color;
      font-weight: 700;
      cursor: pointer;
    
      &:hover {
        background-color: $main-color;
        opacity: 0.8;
      }
    }
  }
 
}  