html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@font-face {
  font-family: futur;
  src: url(/fonts/futura\ medium\ bt.ttf);
}
body {
  max-width: 1920px;
  margin: 0 auto;
  font-family: futur;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  padding: 10px 32px;
  height: 80px;
  background-color: whitesmoke;
  z-index: 50;
}

.navbar {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 50px;
}
@media screen and (max-width: 860px) {
  .navbar {
    gap: 10px;
  }
}

.navbarItem {
  font-family: futur;
  font-weight: 600;
  cursor: pointer;
  transition: 1s ease-out;
}
.navbarItem:hover {
  color: #999;
}
@media screen and (max-width: 860px) {
  .navbarItem {
    font-size: 14px;
  }
}

.phoneiconwrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 1px solid cyan;
}

.contact {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 10px;
}
@media screen and (max-width: 860px) {
  .contact {
    display: none;
  }
}

.sidebar {
  display: flex;
  align-items: center;
  justify-content: start;
  flex-direction: column;
  position: fixed;
  left: 0;
  top: 70%;
  width: 35px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: whitesmoke;
  border: 1px solid black;
  padding: 10px;
  gap: 10px;
}

.sidebaritem {
  border-bottom: 1px solid black;
  cursor: pointer;
}
.sidebaritem:last-child {
  border-bottom: none;
}

.socialnet {
  width: 20px;
}

.section {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  background-image: url("../images/girl-resting-after-exercises-gym_152625-820_auto_x2_auto_x2.jpg");
  background-size: cover;
  width: 100%;
  height: 800px;
  color: #fff;
  gap: 10px;
  padding-left: 200px;
}
@media screen and (max-width: 860px) {
  .section {
    padding-left: 40px;
    margin: 0 auto;
  }
}

.subtitle {
  font-size: 18px;
  font-weight: 500;
  color: #999;
}

.title {
  font-size: 42px;
  font-weight: 800;
  line-height: 1.2;
  margin-bottom: 20px;
}

.getstartedbutton {
  width: 150px;
  height: 45px;
  border-radius: 8px;
  background-color: #5eb6e1;
  font-weight: 700;
  cursor: pointer;
  border: none;
  transition: 1s ease-out;
}
.getstartedbutton:hover {
  background-color: #5eb6e1;
  opacity: 0.8;
}

.main {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 30px;
  padding: 30px 0;
}
@media screen and (max-width: 860px) {
  .main {
    flex-wrap: wrap;
  }
}
.main .mainItem {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-image: url("../images/Group 135.jpg");
  gap: 20px;
  width: 476px;
  height: 283px;
}
.main .mainItem .mainItemTitle {
  font-size: 22px;
  color: #fff;
}
.main .mainItem .mainItemSubtitle {
  font-size: 18px;
  color: #999;
}
.main .mainItem .mainItemButton {
  width: 100px;
  height: 35px;
  border: none;
  border-radius: 2px;
  background-color: #ff6c2c;
  color: #fff;
  font-weight: 600;
}
.main .mainItem .buttonPink {
  background-color: #945b9f;
}
.main .mainItem .buttonBlue {
  background-color: #5eb6e1;
}

.aboutSection {
  width: 100%;
  margin-top: 50px;
  margin-bottom: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 30px;
}
.aboutSection .aboutDesc {
  max-height: 560px;
  overflow: hidden;
  width: 470px;
  padding-left: 30px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
}
.aboutSection .aboutDesc .littleAboutUs {
  font-size: 15px;
  font-weight: 500;
  color: #ff6c2c;
  margin-bottom: -2px;
  text-align: left;
}
.aboutSection .aboutDesc .aboutTitle {
  font-size: 32px;
  font-weight: 500;
  margin-bottom: 10px;
  text-align: left;
  max-height: 40px;
  white-space: nowrap;
}
.aboutSection .aboutDesc .line {
  width: 100px;
  background-color: #5eb6e1;
  height: 1px;
  margin-bottom: 50px;
}
.aboutSection .aboutDesc .aboutSubtitle {
  width: 80%;
  font-size: 22px;
  font-weight: 500;
  color: #ff6c2c;
  margin-bottom: 50px;
  text-align: justify;
  max-height: 70px;
  overflow: hidden;
}
.aboutSection .aboutDesc .aboutFullDesc {
  width: 80%;
  max-height: 230px;
  overflow: hidden;
  color: #999;
  font-size: 22px;
  font-weight: 500;
  margin-bottom: 50px;
  text-align: justify;
  line-height: 1.5;
}
.aboutSection .aboutImages {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 30px;
}
.aboutSection .aboutImages .aboutColumnImages {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 30px;
}

.classesWrapper {
  width: 100%;
  background-color: #222224;
}
.classesWrapper .classesHeader {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 50px 30px;
}
.classesWrapper .classesHeader .line {
  width: 100px;
  background-color: #5eb6e1;
  height: 1px;
  margin-bottom: 50px;
}
.classesWrapper .classesHeader .classesTitle {
  font-size: 32px;
  color: #fff;
  font-weight: 700;
  margin-bottom: 20px;
}
.classesWrapper .classesHeader .classesDesc {
  max-width: 960px;
  font-size: 20px;
  color: #999;
  font-weight: 500;
  text-align: center;
}

.classesContent {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}
.classesContent .classesSingleItem-one {
  background-image: url("../images/fit-young-woman-lifting-barbells-looking-focused-working-out-gym_155003-5353.jpg");
}
.classesContent .classesSingleItem-two {
  background-image: url("../images/woman-doing-exercise-gym_116124-203.jpg");
}
.classesContent .classesSingleItem-three {
  background-image: url("../images/fitness-days-gorgeous-blonde-woman-gym-her-weekend-time_146671-17084.jpg");
}
.classesContent .classesSingleItem-four {
  background-image: url("../images/woman-exercising-with-dumbbell-muscle-gym_116317-294.jpg");
}
.classesContent .classesSingleItem-five {
  background-image: url("../images/senior-woman-doing-abs-yoga-mat_23-2148282954.jpg");
}
.classesContent .classesSingleItem-six {
  background-image: url("../images/keep-holding-gorgeous-blonde-woman-gym-her-weekend-time_146671-16987.jpg");
}
.classesContent .classesSingleItem {
  max-width: 630px;
  width: 100%;
  height: 500px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}
.classesContent .classesSingleItem:hover .hoverContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.classesContent .classesSingleItem:hover .singleItemFooter {
  display: none;
}
.classesContent .classesSingleItem .hoverContainer {
  width: 80%;
  height: 80%;
  display: none;
  padding: 20px;
  background-color: rgba(65, 105, 225, 0.8);
  border-radius: 10px;
}
.classesContent .classesSingleItem .hoverContainer .classItemHoverTitle {
  font-size: 22px;
  color: #fff;
  margin-bottom: 50px;
}
.classesContent .classesSingleItem .hoverContainer .classItemHoverDesc {
  font-size: 18px;
  color: #fff;
  margin-bottom: 50px;
  margin-top: -20px;
}
.classesContent .classesSingleItem .hoverContainer .classItemHoverButton {
  width: 100px;
  height: 42px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
}
.classesContent .classesSingleItem .hoverContainer .classItemHoverButton:hover {
  background-color: #999;
}
.classesContent .classesSingleItem .singleItemFooter {
  width: 100%;
  height: 100px;
  position: absolute;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  background-color: rgba(0, 0, 0, 0.8);
}
.classesContent .classesSingleItem .singleItemFooter .singleItemFooterTitle {
  color: #fff;
  font-size: 32px;
  font-weight: 600;
}
.classesContent .contentSectionOne {
  width: 100%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}
.classesContent .contentSectionTwo {
  width: 100%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}/*# sourceMappingURL=global.css.map */